<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <app-statistics></app-statistics>
    <app-card></app-card>
</div>
