<div class="row">
    <div *ngFor="let stdetail of station" class="col-md-4">
    <img [src]="stdetail.imgstation" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5>{{stdetail.title}}</h5>
      <p>{{stdetail.detail}}</p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div>
</div>
