<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto ">
      <li class="nav-item d-md-none d-block">
        <a routerLink="">
          <img src="" alt="Admin Logo" width="50px" class="img-circle elevation-3">
          <span class="font-weight-light pl-1">Admin</span>
        </a>
      </li>
      <li class="nav-item d-md-block d-none">
        <a class="nav-link">เข้าสู่ระบบครั้งล่าสุด: </a>
      </li>
    </ul>
  </nav>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="../dashboard/" class="brand-link">
      <img src="../../assets/img/eyefleet.png" alt="Admin Logo" class="brand-image img-circle elevation-3">
      <span class="brand-text font-weight-light">Admin</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../assets/img/eyefleet.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="../manager/" class="d-block"> I Oat </a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="../dashboard/" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>หน้าหลัก</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../dashboard/" class="nav-link ">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>ผู้ดูแลระบบ</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../usertable/" class="nav-link ">
              <i class="nav-icon fas fa-users"></i>
              <p>รายชื่อลูกค้า</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../products/" class="nav-link ">
              <i class="nav-icon fas fa-map"></i>
              <p>แผนที่</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../orders/" class="nav-link ">
              <i class="nav-icon fas fa-cart-arrow-down"></i>
              <p>รายการสั่งซื้อ</p>
            </a>
          </li>
          <li class="nav-header">บัญชีของเรา</li>
          <li class="nav-item">
            <a href="../logout.php" id="logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>ออกจากระบบ</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper pt-3" style="min-height: 339.15px;">

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

          <router-outlet></router-outlet>
  
      </div>
    </div>

    <!-- Main Footer -->


    <!-- Google Tag Manager -->
    <script type="text/javascript" async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-8MRBKK7S3V&amp;l=dataLayer&amp;cx=c"></script>
    <script src="https://connect.facebook.net/signals/config/2041433492796878?v=2.9.106&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NQJ86D3"></script>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NQJ86D3');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQJ86D3" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="sidebar-overlay"></div>
  </div>