<div class="col-12">
    <div class="card shadow">
        <div class="card-header border-0 pt-4">
            <h4>
                <i class="fas fa-users"></i>
                รายชื่อลูกค้า
            </h4>
            <a href="form-create.php" class="btn btn-primary mt-3">
                <i class="fas fa-plus"></i>
                เพิ่มข้อมูล
            </a>
        </div>
        <div class="card-body">
            <div id="logs_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="logs_length"><label>แสดงข้อมูล <select name="logs_length"
                                    aria-controls="logs"
                                    class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> แถว</label></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="logs_filter" class="dataTables_filter"><label>ค้นหา<input type="search"
                                    class="form-control form-control-sm" placeholder="" aria-controls="logs"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="logs" class="table table-hover dataTable no-footer dtr-inline" width="100%"
                            role="grid" aria-describedby="logs_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="align-middle sorting sorting_asc" tabindex="0" aria-controls="logs"
                                        rowspan="1" colspan="1" style="width: 33.6px;" aria-sort="ascending"
                                        aria-label="ลำดับ: activate to sort column descending">ลำดับ</th>
                                    <th class="align-middle sorting" tabindex="0" aria-controls="logs" rowspan="1"
                                        colspan="1" style="width: 33.6px;"
                                        aria-label="ชื่อ: activate to sort column ascending">ชื่อ</th>
                                    <th class="align-middle sorting" tabindex="0" aria-controls="logs" rowspan="1"
                                        colspan="1" style="width: 50.6px;"
                                        aria-label="นามสกุล: activate to sort column ascending">นามสกุล</th>
                                    <th class="align-middle sorting" tabindex="0" aria-controls="logs" rowspan="1"
                                        colspan="1" style="width: 110.6px;"
                                        aria-label="อีเมล: activate to sort column ascending">อีเมล</th>
                                    <th class="align-middle sorting" tabindex="0" aria-controls="logs" rowspan="1"
                                        colspan="1" style="width: 78.6px;"
                                        aria-label="เบอร์โทรศัพท์: activate to sort column ascending">เบอร์โทรศัพท์</th>
                                    <th class="align-middle sorting" tabindex="0" aria-controls="logs" rowspan="1"
                                        colspan="1" style="width: 89.6px;"
                                        aria-label="ข้อมูลส่วนตัว: activate to sort column ascending">ข้อมูลส่วนตัว</th>
                                    <th class="align-middle sorting" tabindex="0" aria-controls="logs" rowspan="1"
                                        colspan="1" style="width: 111.6px;"
                                        aria-label="จัดการ: activate to sort column ascending">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody>




                                <tr class="odd" *ngFor="let customer of customers; let i = index">
                                    <td class="align-middle dtr-control sorting_1" tabindex="0">{{ i + 1 }}</td>
                                    <td class=" align-middle">{{ customer.firstName }}</td>
                                    <td class=" align-middle">{{ customer.lastName }}</td>
                                    <td class=" align-middle">{{ customer.email }}</td>
                                    <td class=" align-middle">{{ customer.phoneNumber }}</td>
                                    <td class=" align-middle">
                                        <a [href]="'profile.php?id=' + customer.id" class="btn btn-info">
                                            <i class="fas fa-search"></i> รายละเอียด
                                        </a>
                                    </td>
                                    <td class=" align-middle">
                                        <div class="btn-group" role="group">
                                            <a [href]="'form-edit.php?id=' + customer.id" type="button"
                                                class="btn btn-warning text-white">
                                                <i class="far fa-edit"></i> แก้ไข
                                            </a>


                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="logs_info" role="status" aria-live="polite">แสดงหน้า 1 จาก 1
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="logs_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="logs_previous"><a href="#"
                                        aria-controls="logs" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="logs"
                                        data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item next disabled" id="logs_next"><a href="#"
                                        aria-controls="logs" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>